* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.input__main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input__box {
  background-color: #e8e8e8;
  padding: 2rem;
  border-radius: 10px;
  width: 20rem;
}

.input__box form {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6em;
}

.input__box form input {
  width: 100%;
  border: none;
  padding: 0.5rem;
}

.input__box button {
  margin-top: 1.1rem;
  border: none;
  background-color: #3cb03c;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody {
  text-align: center;
}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: #fff;
}

.increase_iteration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  height: 100%;
}

.increase_iteration svg {
  cursor: pointer;
  font-size: 1.1rem;
}
